@import "event.css";
.day {
    width: 100%;
    margin-bottom: 15px;
}
.dayHeader {
    padding: 12px;
    /* margin-bottom: 10px; */
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 10px;
    @supports (top: env(safe-area-inset-top)) {
        top: calc(env(safe-area-inset-top) + 10px);
    }
}
.blink {
    border-radius: 50%;
    background-color: var(--md-sys-color-on-tertiary-container);
    height: 1em;
    width: 1em;
    align-self: center;
    position: absolute;
    left: calc(50% - 0.5em);
    animation: blink 4s infinite both;
}
.day:not(.today) > .dayHeader > .blink {
    display: none;
}
@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.dayEvents {
    margin: 10px;
}

.dayEvents .event:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--md-sys-color-on-background);
}
.dayEvents .event:not(:first-child) {
    padding-top: 15px;
}
