@import "knopf.css";

:root {
    --knopf-named-background-color: var(--md-sys-color-secondary-container);
}
.knopf *,
.knopf {
    color: var(--md-sys-color-on-primary-container);
    -webkit-text-fill-color: var(--md-sys-color-on-primary-container);
}
@media (prefers-color-scheme: dark) {
    .knopf.pale {
        color: rgba(255, 255, 255, 0.8) !important;
        -webkit-text-fill-color: unset !important;
    }
}

.knopf.tertiary *,
.knopf.tertiary {
    --knopf-named-background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container) !important;
    -webkit-text-fill-color: var(
        --md-sys-color-on-tertiary-container
    ) !important;
}

.knopf.error *,
.knopf.error {
    --knopf-named-background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container) !important;
    -webkit-text-fill-color: var(--md-sys-color-on-error-container) !important;
}
.buttonColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
