.bold {
    font-weight: bold;
}
.center {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    --uisize: 80vw;
    --text: black;
    --buttonsize: 20vw;
    --background: white;
    --iosaccent: #007aff;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}
.row-desktop {
    flex-direction: row;
    display: flex;
    gap: 10px;
    width: var(--uisize);
    justify-content: space-around;
}

.hidden {
    display: none !important;
}
#addbuttons {
    padding-top: 10px;
}
.button {
    width: var(--buttonsize) !important;
}
.button-container {
    display: block;
    padding-top: 8px !important;
}
select {
    padding-bottom: 4px;
}
.ts-wrapper {
    padding-bottom: 4px;
    width: 100%;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.logos img {
    max-width: 32px;
    max-height: 32px;
}
a:visited {
    color: inherit;
}
.mainflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.put-to-end {
    /* flex-grow: 1; */
    margin-top: auto;
}
.nologos .logos {
    display: none;
}
.flex-last {
    order: 5;
}
#addbuttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
p {
    word-wrap: break-word;
}
details {
    max-width: var(--uisize);
}
img {
    max-width: var(--uisize);
}
.link {
    display: block;
    color: var(--text);
}
.location_link {
    text-decoration: underline !important;
}
#icalpreview {
    width: 80vw;
    min-height: 70vh;
    height: auto;
}
.logos img {
    max-width: 32px;
    max-height: 32px;
}
.button-container .button {
    height: 100%;
}
@import "knopf.css";
.negative {
    --knopf-hue: 356;
    --knopf-saturation: 57%;
    --knopf-luminosity: 51%;
}
.positive {
    --knopf-hue: 164;
    --knopf-saturation: 88%;
    --knopf-luminosity: 28%;
}

#webnavbar {
    width: 100%;
}

img {
    vertical-align: top; /* to get rid of default bottom padding in images */
}

#webnavbar > div:not(.dynamic-max-height-column) {
    position: relative;
}

#webnavbar > div:not(.dynamic-max-height-column) > img {
    position: absolute;
    max-height: 100%;
}

/* mobile */
body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
@media only screen and (hover: none) and (pointer: coarse) {
    body {
        --uisize: 100vw;
        --buttonsize: 80vw;
    }
    #addbuttons {
        flex-direction: column !important;
    }
    #icalpreview {
        width: 100% !important;
    }
    .row-desktop {
        flex-direction: column;
    }
    .fc-toolbar {
        flex-direction: column;
        gap: 5px;
    }
    .ts-wrapper {
        width: var(--buttonsize);
    }
    #appheader h1 {
        margin-bottom: 0;
    }
    .fc-list {
        border: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    #webnavbar > div:not(.dynamic-max-height-column) {
        position: unset !important;
    }

    #webnavbar > div:not(.dynamic-max-height-column) > img {
        position: unset !important;
        max-height: 20vh !important;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --background: #303030;
        --text: white;
        --iosaccent: white;
    }
    .fc-list-day-cushion,
    tr.fc-list-event:hover {
        color: black !important;
    }
    .knopf.pale {
        color: rgba(255, 255, 255, 0.8) !important;
        -webkit-text-fill-color: unset !important;
    }
}
/* pwa */
.pwa-show {
    display: none;
}

/* modal */
.modal-open {
    overflow: hidden;
}
/* !!! DIFFERENT THINGS !!!! */
.modal.open {
    pointer-events: auto;
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    opacity: 0;
    transform: scale(1);

    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
        opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.modal-body {
    max-width: 80vw;
    z-index: 101;
    background-color: var(--background);
    padding: 15px;
    border-radius: 8px;
}
/* fullcalendar customizations */
.fc-list-day > th {
    z-index: 1;
}
.fc-list-event > :nth-child(2),
.fc-list-table > thead > tr > :nth-child(2) {
    display: none;
}
.fc-list-event-title p {
    margin: 0;
}
.fc-list-event-title .fa-fw {
    margin-right: 0.2em;
}
.fc-list-empty {
    background-color: transparent !important;
}

.fa-train-subway {
    color: white !important;
}
