@import url("@fontsource/roboto");
@import url("./md3/theme.css");
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
body {
    --uisize: 80vw;
    overflow-x: hidden;
}
.row-desktop {
    flex-direction: row;
    display: flex;
    gap: 10px;
    width: var(--uisize);
    justify-content: space-around;
    flex-wrap: wrap;
}

.hidden {
    display: none !important;
}
#addbuttons {
    padding-top: 10px;
}
.button {
    width: var(--buttonsize) !important;
}
.button-container {
    display: block;
    padding-top: 8px !important;
}
select {
    padding-bottom: 4px;
}
.ts-wrapper {
    padding-bottom: 4px;
    width: 100%;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.logos img {
    max-width: 32px;
    max-height: 32px;
}
a:visited {
    color: inherit;
}
.mainflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.put-to-end {
    /* flex-grow: 1; */
    margin-top: auto;
}
.nologos .logos {
    display: none;
}
.flex-last {
    order: 5;
}
#addbuttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
p {
    word-wrap: break-word;
}
details {
    max-width: var(--uisize);
}
img {
    max-width: var(--uisize);
}
.link {
    display: block;
    color: var(--text);
}
.location_link {
    text-decoration: underline !important;
}
#icalpreview {
    width: 80vw;
    min-height: 70vh;
    height: auto;
}
.logos img {
    max-width: 32px;
    max-height: 32px;
}
.button-container .button {
    height: 100%;
}
@import "knopf.css";
.negative {
    --knopf-hue: 356;
    --knopf-saturation: 57%;
    --knopf-luminosity: 51%;
}
.positive {
    --knopf-hue: 164;
    --knopf-saturation: 88%;
    --knopf-luminosity: 28%;
}

#webnavbar {
    width: 100%;
    padding-bottom: 5px;
}

img {
    vertical-align: top; /* to get rid of default bottom padding in images */
}

#webnavbar > div:not(.dynamic-max-height-column) {
    position: relative;
}

#webnavbar > div:not(.dynamic-max-height-column) > img {
    position: absolute;
    max-height: 100%;
}

/* mobile */
body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
@media only screen and (hover: none) and (pointer: coarse) {
    body {
        --uisize: 100vw;
        --buttonsize: 80vw;
    }
    #addbuttons {
        flex-direction: column !important;
    }
    #icalpreview {
        width: 100% !important;
    }
    .row-desktop {
        flex-direction: column;
    }
    .fc-toolbar {
        flex-direction: column;
        gap: 5px;
    }
    .ts-wrapper {
        width: var(--buttonsize);
    }
    #appheader h1 {
        margin-bottom: 0;
    }
    .fc-list {
        border: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    #webnavbar > div:not(.dynamic-max-height-column) {
        position: unset !important;
    }

    #webnavbar > div:not(.dynamic-max-height-column) > img {
        position: unset !important;
        max-height: 20vh !important;
    }
}
@media (prefers-color-scheme: dark) {
    .knopf.pale {
        color: rgba(255, 255, 255, 0.8) !important;
        -webkit-text-fill-color: unset !important;
    }
}
/* pwa */
.pwa-show {
    display: none;
}

/* fullcalendar customizations */
.fc-list-day > th {
    z-index: 1;
}
.fc-list-event > :nth-child(2),
.fc-list-table > thead > tr > :nth-child(2) {
    display: none;
}
.fc-list-event-title p {
    margin: 0;
}
.fc-list-event-title .fa-fw {
    margin-right: 0.2em;
}
.fc-list-empty {
    background-color: transparent !important;
}
.fc-day-today th,
.fc-day-today,
.presentTime {
    box-shadow: 8px 0px 0px var(--md-sys-color-primary) inset;
    border-bottom: 0 !important;
    border: 0 !important;
    border-top: 0 !important;
}
.fc-day-today + .fc-list-event * {
    border: 0 !important;
    border-top: 0 !important;
}

.fa-train-subway {
    color: white !important;
}
.presentTime {
    border-right: 3px var(--app-accent) !important;
}
.fc .fc-button-primary:focus {
    box-shadow: none !important;
}
* {
    --fc-page-bg-color: var(--md-sys-color-primary-container);
    --fc-button-border-color: transparent;
    --fc-button-bg-color: var(--md-sys-color-secondary-container);
    --fc-button-text-color: var(--md-sys-color-on-primary-container);
    --fc-button-active-bg-color: var(--md-sys-color-primary-container);
    --fc-button-active-border-color: var(--md-sys-color-primary-container);
    --fc-button-hover-border-color: transparent;
    --fc-button-hover-bg-color: var(--md-sys-color-surface-variant);
    --fc-list-event-hover-bg-color: transparent;
    --knopf-named-background-color: var(--md-sys-color-secondary-container);
    --fc-border-color: var(--md-sys-color-outline);
}

.fc-button-active {
    color: var(--md-sys-color-on-background) !important;
}
.fc-list-day-cushion {
    color: var(--md-sys-color-on-primary-container) !important;
}

.knopf *,
.knopf,
.test {
    color: var(--md-sys-color-on-primary-container) !important;
    -webkit-text-fill-color: var(
        --md-sys-color-on-primary-container
    ) !important;
}
.loadingAnim * {
    fill: var(--md-sys-color-on-background);
    stroke: var(--md-sys-color-on-background);
    max-height: 300px;
}
@import "toast.css";
@import "modal.css";
