.bold {
    font-weight: bold;
}
.fc-list-event-title p {
    margin: 0;
}
.center {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    --uisize: 80vw;
    --textcolor: black;
    --buttonsize: 20vw;

    overflow-x: hidden;
}
.row-desktop {
    flex-direction: row;
    display: flex;
    gap: 10px;
    width: var(--uisize);
    justify-content: space-around;
}

.hidden {
    display: none !important;
}
#addbuttons {
    padding-top: 10px;
}
.button {
    width: var(--buttonsize) !important;
}
.button-container {
    display: block;
    padding-top: 8px !important;
}
select {
    padding-bottom: 4px;
}
body {
    background-color: white;
    min-height: 100vh;
}
.ts-wrapper {
    padding-bottom: 4px;
    width: 100%;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.logos img {
    max-width: 32px;
    max-height: 32px;
}
a:visited {
    color: inherit;
}
.mainflex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
.put-to-end {
    /* flex-grow: 1; */
    margin-top: auto;
}
.nologos .logos {
    display: none;
}
.flex-last {
    order: 5;
}
#addbuttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
p {
    word-wrap: break-word;
}
details {
    max-width: var(--uisize);
}
img {
    max-width: var(--uisize);
}
.link {
    display: block;
    color: var(--textcolor);
}
.location_link {
    text-decoration: underline !important;
}
#icalpreview {
    width: 80vw;
    min-height: 70vh;
    height: auto;
}
.logos img {
    max-width: 32px;
    max-height: 32px;
}
.button-container .button {
    height: 100%;
}
.fc-list-day > th {
    z-index: 1
}


@media screen and (orientation: portrait) {
    body {
        --uisize: min(100vw, 400px);
        --buttonsize: var(--uisize);
    }
    #addbuttons {
        flex-direction: column !important;
    }
    #icalpreview {
        width: 100% !important;
    }
    .row-desktop {
        flex-direction: column;
        /* width: auto; */
    }
    .fc-toolbar {
        flex-direction: column;
        gap: 5px;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #303030;
        color: white;
        --textcolor: white;
    }
    .fc-list-day-cushion,
    tr.fc-list-event:hover {
        color: black !important;
    }
}
@media (display-mode: standalone) {
    /* All installed PWAs */
    .pwa-hide {
        display: none !important;
    }
}
