:root {
    --toast-padding: 12px;
    --toast-width: 100px;
}
.toast {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--md-sys-color-on-surface);
    color: var(--md-sys-color-surface);
    padding: var(--toast-padding);
    width: var(--toast-width);
    border-radius: calc(var(--toast-padding) + 4px);
    margin-left: calc(0px - var(--toast-padding) - var(--toast-width) / 2);
    transition: opacity;
    animation: fadein 0.4s;
}
.toast.timeToDie {
    animation: fadeout 0.4s;
}
.toast button {
    background-color: transparent;
    border: 0;
    color: var(--md-sys-color-on-primary);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
