@media (min-width: 801px) {
    body {
        --tabbardirection: column;
        --md-navigation-bar-container-height: 100vh;
        --tabbarwidth: 80px;
        --tabbarjustify: center;
    }
    #sidebar.hidden {
        display: block;
    }
    #sidebar {
        position: static;
        width: 360px;
        height: 100vh;
    }
    #main {
        display: flex;
    }
    #main > section {
        width: calc(100vw - 80px);
        margin-left: 80px;
    }
    .tabbar-padding-mobile {
        display: none;
    }
    .dayHeader {
        justify-content: flex-end !important;
        flex-direction: row-reverse !important;
        gap: 5px;
    }
    .topbar-lnav {
        display: none;
    }
    .topbar {
        box-shadow: none !important;
    }
    .topbar-headline {
        padding-left: 16px;
    }
    #tabbar {
        top: 0 !important;
        left: 0;
        width: 80px !important;
        height: 100vh !important;
    }
    md-navigation-tab {
        max-height: 56px;
        margin-top: 12px;
    }
}
