@import '@fontsource/roboto/500';
@import '@fontsource/roboto';
@import './md3/theme.css';
@import './desktop.css';

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    --md-navigation-bar-container-color: var(--md-sys-color-surface-container);
}
.uilink {
    text-decoration: none;
    color: inherit;
}
a {
    color: inherit;
}
.button {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-primary-container);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
md-filled-button .mdi,
md-outlined-button .mdi {
    width: 24px;
    height: 24px;
}
.tabbar-padding-mobile {
    height: 80px;
}
/* TODO: style it properly */
.cookie__bar {
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
}
.cookie__bar__buttons__button--accept, .cookie__bar__buttons__button--accept:hover {
    background: var(--md-sys-color-on-tertiary);
    color: var(--md-sys-color-tertiary);
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-size: var(--md-sys-typescale-label-large-font-size);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    line-height: var(--md-sys-typescale-label-large-height);
    text-transform: var(--md-sys-typescale-label-large-text-transform);
    text-decoration: var(--md-sys-typescale-label-large-text-decoration);
}