@import '@fontsource/roboto/500';
@import '@fontsource/roboto';
@import './md3/theme.css';
@import './desktop.css';

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.uilink {
    text-decoration: none;
    color: inherit;
}
a {
    color: inherit;
}
.button {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-primary-container);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
md-filled-button .mdi,
md-outlined-button .mdi {
    width: 24px;
    height: 24px;
}
